/**/build/
/**/bin/
/**/lib/
/**/output/
/**/dist/
/**/release/
/**/debug/
/**/logs/
/**/driver/
/**/dependencies/
/**/vcpkg_installed/
/**/cmake-build-*/
/**/out/
/**/.cache/
/**/.gradle/
/**/target/
/**/__pycache__
/**/.pytest_cache
/**/.vs/
/**/.vscode/
/**/.idea/
/**/.zed/
/**/*.docx
/**/*.pptx
/**/*.xlsx
/**/*.pdf
/**/*.log
/**/*.log*
/**/node_modules
/**/dist
/**/dist-ssr
/**/*.local
/**/config.json
